<div class="col" class="global-card">
    <div class="" style="border-radius: 10px; box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
      text-align: center;">
        <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/> -->
        <div class="card-body">
            <div class="head-card">
                <h5 class="card-title">{{city.name}}</h5>
                <p class="card-subtitle">{{city.country}}</p>
            </div>
            <hr class="solid">
            <section class="collapsible" [@collapse]="collapsed">
                <div class="infos">
                    <div class="info-container">
                        <p class="info-meta">Continent :&nbsp;</p>
                        <p class="info">{{city.continent}}</p>
                    </div>

                    <div class="info-container">
                        <p class="info-meta">Latitude :&nbsp;</p>
                        <p class="info"> {{city.latitude}}</p>
                    </div>

                    <div class="info-container">
                        <p class="info-meta">Name Native :&nbsp;</p>
                        <p class="info"> {{city.name_native}}</p>
                    </div>

                    <div class="info-container">
                        <p class="info-meta">Longitude :&nbsp;</p>
                        <p class="info"> {{city.longitude}}</p>
                    </div>

                    <div class="info-container">
                        <p class="info-meta">Population :&nbsp;</p>
                        <p class="info"> {{city.population}}</p>
                    </div>

                    <div class="info-container">
                        <p class="info-meta">Founded :&nbsp;</p>
                        <p class="info"> {{city.founded}}</p>
                    </div>

                    <div class="info-container">
                        <p><span class="info-meta-landmark">Landmarks :&nbsp;</span>{{city.landmarks}}</p>
                        <!-- <p class="info-landmark"> {{city.landmarks}}</p> -->
                    </div>
                </div>
            </section>
        </div>
        <div class="footer">
            <small *ngIf="collapsed" (click)="expand()" class="view-more-text"> View more details
             </small>   <mat-icon *ngIf="collapsed" (click)="expand()" class="arrow">keyboard_arrow_down</mat-icon>
            <small *ngIf="!collapsed" (click)="collapse()" class="hide-text"> Hide details
               </small> <mat-icon *ngIf="!collapsed" (click)="collapse()" class="arrow">keyboard_arrow_up</mat-icon>

            <!-- <button *ngIf="collapsed" (click)="expand()">Expand</button>
      <button *ngIf="!collapsed" (click)="collapse()">Collapse</button> -->
        </div>
    </div>
</div>