.collapsible {
    overflow: hidden;
    width: 100%;
    /* background-color: lightgray; */
    box-sizing: border-box;
    font-size: 1.6vh;
    color: #667093;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #454249; */
    background-color: #f2f2f2;
}

.global-card {
    width: 14vw;
}

.view-more-text {
    color: #37bbda;
    font-size: 1.6vh;
    font-weight: bold;
}

.hide-text {
    color: #37bbda;
    font-size: 1.6vh;
    font-weight: bold;
}

.footer {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.infos {
    width: 80%;
    padding-top: 0.5vw;
    padding-bottom: 0.6vw;
}

.info-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    text-align: left;
}   

.info-meta {
    font-weight: bold;
}

.info-meta-landmark {
    font-weight: bold;
}

.arrow {
    color: #37bbda;
}

.info-landmark {
    width: 50%;
    text-align: left;
}



.head-card {
    margin-bottom: 10px;
}

hr.solid {
    margin: 0;
    opacity: 0.09;
}


.card-body {
    padding: 0;
    padding-top: 5px;
}

.card-header {
    color: white;
    background-color: #2196F3;
}

.card-subtitle {
    font-size: 1.7vh;
    color: #00104b;
    margin-top: 20x;
    margin-bottom: 20px;
}

.card-title {
    color: #00104b;
    /*the font color of Ottonova*/
    font-size: 2.3vh;
    font-weight: bolder;
    margin-top: 1vw;
    margin-bottom: 15px;
}



@keyframes l7 {
    to {
        transform: rotate(.5turn)
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

p {
    margin: 0;
}
