<div *ngIf="!loading; else elseBlock" class="global-home">
    <!-- Nav Bar -->
    <nav class="navbar">
        <div class="navbar-logo" style="margin-left: auto; width: 50vw;">
            <img src="https://getlogo.net/wp-content/uploads/2019/07/ottonova-logo-vector.png" height="65"
                alt="My App Logo" />
        </div>
        <div class="navbar-actions">
            <a href="https://www.ottonova.de/en" mat-flat-button class="mat-elevation-z1" color="primary" style="
         background-color: #005ecc; font-weight: bold;font-family: Figtree,Avenir,Arial,sans-serif;">Visit our official
                website !</a>
        </div>
    </nav>
    <!-- Top Title -->
    <div class="page-title">
        <div class="subpage-title">
            <p class="text-title">Discover the most popular cities from our backend.</p>
            <div class="text-subtitle-container">
                <p class="text-subtitle">Note : This data set may vary depending on our server-side application</p>
            </div>
        </div>
    </div>

    <!-- Cities card and button expand all -->
    <div *ngIf="!noData" class="cities-container">
        <div class="expand-all-container">
            <button *ngIf="!expand" mat-flat-button (click)="expandAll()" class="mat-elevation-z1" color="primary"
                style="
        background-color: #005ecc; font-weight: bold;font-family: Figtree,Avenir,Arial,sans-serif;">Expand All
                Cities</button>
            <button *ngIf="expand" mat-flat-button (click)="expandAll()" class="mat-elevation-z1" color="primary" style="
        background-color: #005ecc; font-weight: bold;font-family: Figtree,Avenir,Arial,sans-serif;">Collapse All
                Cities</button>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-left: auto; margin-right: auto; width: 65vw">
            <city-card-component *ngFor="let city of cities;" [city]="city" [expandFromHome]="expand">
            </city-card-component>
        </div>
    </div>


    <!-- NOdata container -->
    <div *ngIf="noData" class="cities-container">
        <div class="nodata-container">
            <p class="nodata-text">There is no data coming from the server.</p>
        </div>
    </div>


    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">ottonova offers comprehensive private health insurance for employees,
                        self-employed and students, as well as supplementary insurance for persons eligible for benefits
                        called "Beihilfe". We also offer supplementary insurance for anyone who prefers or is obliged to
                        stay insured by public health insurance.

                        Feel free to <i>book a non-binding consultation</i> and we will be happy to advise you
                        personally.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a>JAVASCRIPT / TYPESCRIPT</a></li>
                        <li><a>UI Design</a></li>
                        <li><a>PHP</a></li>
                        <li><a>Java</a></li>
                        <li><a>Android</a></li>
                        <li><a>Templates</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a>About Us</a></li>
                        <li><a>Contact Us</a></li>
                        <li><a>Contribute</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
                        <a>Ottonova</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<ng-template #elseBlock>
    <div style="width: 100%; height: 100%; display: flex; align-items: center;
    justify-content: center;">
        <div class="loader"></div>
    </div>
</ng-template>